:root {
  --primary-background: #5a483a;
  --secondary-background: #fff8e4;
  --secondary-text: white;
  --primary-text: #5a483a;
}
* {
  box-sizing: border-box;

}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  background-color: var(--secondary-background);
  background-image: url('./resources/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

header, footer {
  color: var(--primary-text);
  padding-top: 8px;
  text-align: center;
}

nav ul {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav a {
  color: var(--primary-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.main {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section {
  margin-bottom: 40px;
}

.section.hero {
  max-width: 375px;
  border-left: 1px solid var(--primary-text);
  border-right: 1px solid var(--primary-text); 
  border-top: 1px solid var(--primary-text); 
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-background);
  margin: 2px auto 0 auto;
}


.section.hero h2 {
  font-size: 52px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.section.hero h1 {
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.section.hero img {
  margin: 20px auto;
}


.section.hero p {
  font-size: 32px;
  margin-top: 0;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  max-width: 325px;
}


.section h2 {
  color: var(--primary-text);
  margin-bottom: 10px;
}

.cards-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cards-section::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 275px;
  max-width: 270px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background);
  padding: 20px 10px;
}

.card h2 {
  margin: 0; 
  font-size: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary-text);
}

.card-content h3 {
  width: 80%;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid var(--primary-text);
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.card-content p{
  margin: 0;
  width: 80%;
  padding: 10px 0;
  text-align: center;
  min-height: 160px;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}


.card-image {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid var(--primary-text);
  text-align: center;
  margin: 10px 0;
}

footer {
  font-size: 0.8em;
}

.secondary-nav {
  display: none;
}


@media screen and (min-width: 768px) {
  .secondary-nav {
    display: flex;
  }

  nav a {
    font-size: 16px;
  }

  
}

@media screen and (min-width: 1024px) {
  .body {
    background-size: contain;
  }
}


@media screen and (min-width: 1140px) {
  .cards-section {
    justify-content: center;
  }
}